.container {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item1 {
  width: 200px;
  height: 150px;
  background-image: url(img/athlete.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.item2 {
  width: 200px;
  height: 150px;
  background-image: url(img/equal.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.item3 {
  width: 200px;
  height: 150px;
  background-image: url(img/adult.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.item4 {
  width: 200px;
  height: 150px;
  background-image: url(img/abstract.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.item5 {
  margin-bottom: 20px;
  width: 850px;
  height: 200px;
  background-image: url(img/asters.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.item6 {
  width: 200px;
  height: 150px;
  background-image: url(img/egypt.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.item7 {
  width: 200px;
  height: 250px;
  background-image: url(img/wine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
