:root {
  font-family: monospace;
}

.body {
  max-width: 700px;
}

.container {
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 10px;
}

.icon {
  padding-right: 130px;
}
